.elemento-form{
  padding: 20px;
  border: 1px solid blue;
}
label{
    font-weight: bold;
    padding-right: 10px;
}
input:hover{
    background-color: black;
    color:white;
}
.elemento-form-button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}